<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dk.quant.mapper.StrategySymbolSelectionMapper">
    
    <resultMap type="StrategySymbolSelection" id="StrategySymbolSelectionResult">
        <result property="id"    column="id"    />
        <result property="owner"    column="owner"    />
        <result property="symbolSelectionName"    column="symbol_selection_name"    />
        <result property="fileName"    column="file_name"    />
        <result property="className"    column="class_name"    />
        <result property="args"    column="args"    typeHandler="com.ruoyi.dk.quant.utils.MySqlJsonHandler"/>
    </resultMap>

    <sql id="selectStrategySymbolSelectionVo">
        select id, owner, symbol_selection_name, file_name, class_name, args from strategy_symbol_selection
    </sql>

    <select id="selectStrategySymbolSelectionList" parameterType="StrategySymbolSelection" resultMap="StrategySymbolSelectionResult">
        <include refid="selectStrategySymbolSelectionVo"/>
        <where>  
            <if test="owner != null "> and owner = #{owner}</if>
            <if test="symbolSelectionName != null  and symbolSelectionName != ''"> and symbol_selection_name like concat('%', #{symbolSelectionName}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="args != null  and args != ''"> and args = #{args}</if>
        </where>
    </select>
    
    <select id="selectStrategySymbolSelectionById" parameterType="Long" resultMap="StrategySymbolSelectionResult">
        <include refid="selectStrategySymbolSelectionVo"/>
        where id = #{id}
    </select>

    <insert id="insertStrategySymbolSelection" parameterType="StrategySymbolSelection" useGeneratedKeys="true" keyProperty="id">
        insert into strategy_symbol_selection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="owner != null">owner,</if>
            <if test="symbolSelectionName != null and symbolSelectionName != ''">symbol_selection_name,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="args != null">args,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="owner != null">#{owner},</if>
            <if test="symbolSelectionName != null and symbolSelectionName != ''">#{symbolSelectionName},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="args != null">#{args, typeHandler=com.ruoyi.dk.quant.utils.MySqlJsonHandler},</if>
         </trim>
    </insert>

    <update id="updateStrategySymbolSelection" parameterType="StrategySymbolSelection">
        update strategy_symbol_selection
        <trim prefix="SET" suffixOverrides=",">
            <if test="owner != null">owner = #{owner},</if>
            <if test="symbolSelectionName != null and symbolSelectionName != ''">symbol_selection_name = #{symbolSelectionName},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="args != null">args = #{args, typeHandler=com.ruoyi.dk.quant.utils.MySqlJsonHandler},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStrategySymbolSelectionById" parameterType="Long">
        delete from strategy_symbol_selection where id = #{id}
    </delete>

    <delete id="deleteStrategySymbolSelectionByIds" parameterType="String">
        delete from strategy_symbol_selection where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>